# Python / Django (Ibrahim)
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
*.sqlite3
*.log

# Node / Next.js (Mégane)
node_modules/
.next/
.env.local
.env*.local
out/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Fichiers médias (uploads utilisateurs)
media/
backend/media/

# Documentation locale
docs/DATABASE.md

# Environnement virtuel local
backend/akal_env/

# Antigravity/Gemini IDE customization directory
.agents/

